<a href="https://colab.research.google.com/github/anujs2005/Anuja/blob/main/PRACTICE_EXERCISES_ON_PYTHON_BASICS_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
string=input("Enter a string")
L=[]
for i in string:
  if i not in L:
    print(i,string.count(i))
    L.append(i)

Enter a stringassembly
a 1
s 2
e 1
m 1
b 1
l 1
y 1

In [2]:
def maximum()
  large=0
  for i in range(3):
    num=int(input("Enter a number:"))
    if num>large:
      large=num
  print("The largest number is ",large)
maximum()

Enter a number:34
Enter a number:23
Enter a number:45
The largest number is  45

In [6]:
def exponent(base,power):
   print(base**power)
base=int(input("Enter base"))
power=int(input("Enter power"))
exponent(base,power)

Enter base2
Enter power3
8

In [8]:
def positive():
  num=int(input("Enter a number"))
  s=0
  for i in range(num):
    s=s+i**3
  return s
print(positive())

Enter a number4
36

In [10]:
for i in range(1,11):
  if i%2==0 and i%5==0:
    print("FizzBuzz")
  elif i%2==0:
    print("Fizz")
  elif i%5==0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [12]:
n=int(input("How many numbers to be inserted:"))
L=[]
for i in range(n):
  num=int(input("Enter a number"))
  L.append(num)
count=0
number=L[0]
for i in range(len(L)):
  c=L.count(L[i])
  if c>count:
    count=c
    number=L[i]
print(number)

How many numbers to be inserted:4
Enter a number2
Enter a number3
Enter a number2
Enter a number2
2

In [13]:
L=[2,1,3,1]
s=0
for i in L:
  s=s+i**2
print(s)

15

In [15]:
for i in range(1,16):
  if i%2==0:
    print(i,"-Even")
  else:
    print(i,"-Odd")

1 -Odd
2 -Even
3 -Odd
4 -Even
5 -Odd
6 -Even
7 -Odd
8 -Even
9 -Odd
10 -Even
11 -Odd
12 -Even
13 -Odd
14 -Even
15 -Odd

In [22]:
temp=int(input("Enter temperature"))
unit=input("Enter unit(C for celsius and F for Farenheit):")
if unit=="C":
  F=(temp* 9/5) + 32.
  print("temperature in Farenheit",F)
else:
  C = (temp - 32) * 5/9;
  print("temperature in Celsius",C)

Enter temperature32
Enter unit(C for celsius and F for Farenheit):F
temperature in Celsius 0.0

In [23]:
def factorial(num):
  f=1
  for i in range(1,num+1):
    f=f*i
  print(f)
num=int(input("Enter a number:"))
factorial(num)

Enter a number:3
6