<a href="https://colab.research.google.com/github/anujs2005/Anuja/blob/main/PRACTICE_EXERCISES_ON_PYTHON_BASICS_ANUJA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
radius=int(input("enter radius"))
Area=3.14*radius*radius
print("Area of the circle:",Area)

enter radius10
Area of the circle: 314.0

In [2]:
name=input("Enter Name:")
roll_no=int(input("Enter Roll No:"))
marks=int(input("Enter marks:"))
print("Name:",name)
print("Roll No:",roll_no)
print("Mark",marks)

Enter Name:Anuja
Enter Roll No:1001
Enter marks:99
Name: Anuja
Roll No: 1001
Mark 99

In [3]:
L=[12,3,47,10]
largest=0
for i in L:
  if i>largest:
    largest=i
print("the largest number:",largest)

the largest number: 47

In [17]:
n=int(input("How many elements to be enetered"))
L=[]
for i in range(n):
  num=int(input("Enter a number:"))
  if num%5==0:
    L.append(num)
for i in L:
  print(i,end=" ")

How many elements to be enetered5
Enter a number:10
Enter a number:24
Enter a number:15
Enter a number:45
Enter a number:60
10 15 45 60

In [21]:
n=int(input("Enter a number:"))
flag=False
if n==1:
  print("1 is not a prime number")
else:
  for i in range(2,n):
    if n%i==0:
      flag=True
      break
if flag==True:
  print(n,"is not a prime number")
else:
  print(n,"is a prime number")

Enter a number:15
15 is not a prime number

In [28]:
L=[10,40,30,70]
L1=[]
for i in range(-1,-len(L)-1,-1):
  L1.append(L[i])
print(L1)

[70, 30, 40, 10]

In [32]:
n=int(input("Enter no. of rows:"))
for i in range(1,n):
  for j in range(i):
    print("*",end="")
  print()

Enter no. of rows:5
*
**
***
****

In [35]:
max=0
for i in range(3):
    n=int(input("Enter a number"))
    if n>max:
      max=n
print("the largest number:",max)

Enter a number10
Enter a number34
Enter a number5
the largest number: 34

In [38]:
n=int(input("Enter no. of rows"))
for i in range(1,n):
  for j in range(i):
    print("*",end="")
  print()
for i in range(n,0,-1):
  for j in range(0, i - 1):
        print("*", end="")
  print()

Enter no. of rows5
*
**
***
****
****
***
**
*